.statistics {
  width: 300px;
  border-radius: 4px;
  text-align: center;
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.title {
  padding: 25px;
  text-transform: uppercase;
}

.list {
  display: flex;

  height: 70px;
  background-color: #e4e5ec;
  border-top: 1px solid #898989;
}

.item {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  padding: 10px;
}

.label,
.percentage {
  color: white;
}

.percentage {
  font-size: 20px;
  padding-top: 5px;
}
